<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg">
  <div>
    <div style="text-align: center;">
      <img src="../../assets/image/logo.png" alt="" style="width: 65%;">
    </div>
    <div class="text-container">
      <h3>Fish health journal</h3>
      <p>Give your fish all the care and attention they need</p>
      <ion-button style="text-transform: none;" shape="round" (click)="GetStart()">Get start</ion-button>
    </div>
    <div>
      <img src="../../assets/image/fish2.png" alt="" class="fish2-img">
    </div>
    <div>
      <img src="../../assets/image/fish1.png" alt="" class="fish1-img">
    </div>
  </div>
</ion-content>
